name: Node.js CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/node-ci-cd-app:latest .

    - name: Push image to Docker Hub
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/node-ci-cd-app:latest

    - name: Deploy to AWS EC2
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          docker pull ${{ secrets.DOCKER_USERNAME }}/node-ci-cd-app:latest
          docker stop node-app || true
          docker rm node-app || true
          docker run -d --name node-app -p 80:3000 ${{ secrets.DOCKER_USERNAME }}/node-ci-cd-app:latest
